.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page-container {
  padding-top: 84px;
}

button {
  cursor: pointer;
}

.arrow-animated {
  & > .icon {
    transition: transform 0.1s linear;
  }

  &:hover .icon {
    transform: translateX(10px);
  }

  &.left {
    &:hover .icon {
      transform: translateX(-10px);
    }
  }
}
