<a [routerLink]="lesson()?.id" class="group block h-full">
  <div class="gradient-wrap relative p-[2px] rounded-xl h-full">
    <z-card class="h-full rounded-[10px]">
      <z-card-header>
        <z-card-title [zTitle]="lesson()?.title" />
        <z-card-description [zDescription]="lesson()?.description" />
      </z-card-header>
      <div class="flex items-center justify-between">
        <time [dateTime]="lesson()?.datetime">{{ lesson()?.date }}</time>
        @if (completed()) {
          <z-badge
            zType="secondary"
            zShape="pill"
            class="bg-green-800 text-white dark:bg-green-600"
          >
            <ng-icon name="lucideBadgeCheck" />
            {{ 'pages.lesson.completed' | transloco }}
          </z-badge>
        }
      </div>
    </z-card>
  </div>
</a>
