<header  class="fixed z-50 w-full py-3.5 shadow-[0px_4px_6px_0px_rgba(0,_0,_0,_0.1)]">
  <div class="container">
    <div class="flex items-center justify-between">
      <app-logo></app-logo>
      <ul class="block md:flex gap-4">
        <li>
            <a routerLink="/courses">
              <button z-button zSize="sm" zType="link">Courses</button>
            </a>
        </li>
        <li>
          <a routerLink="/lessons">
            <button z-button zSize="sm" zType="link">Lessons</button>
          </a>
        </li>
      </ul>
      <div class="flex justify-end items-center gap-2">
        <button z-button zType="ghost" zSize="sm" (click)="toggleTheme()">
          <ng-icon name="lucideContrast" />
          <span class="sr-only">Toggle theme</span>
        </button>
        @if (isAuthenticated()) {
          <a routerLink="/profile">
            <button z-button zType="ghost" zSize="sm">
              <ng-icon name="lucideUserCircle" />
              <span class="sr-only">User profile</span>
            </button>
          </a>
          <button z-button zType="link" zSize="sm" (click)="logout()">Log out</button>
        } @else {
          <a routerLink="/login">
            <button z-button zType="link" zSize="sm">Log in <span aria-hidden="true">&rarr;</span></button>
          </a>
        }
      </div>
    </div>
    <div class="flex flex-1 justify-end md:hidden">
      <app-burger [isOpenSignal]="isOpen"></app-burger>
    </div>
  </div>
</header>
