<header class="bg-background fixed z-50 w-full py-3.5 shadow-[0px_4px_6px_0px_rgba(0,_0,_0,_0.1)]">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="flex flex-1"><app-logo /></div>
      <ul class="block md:flex gap-4">
        <li>
            <a routerLink="/courses">
              <button z-button zSize="sm" zType="link">{{ 'nav.courses' | transloco }}</button>
            </a>
        </li>
        <li>
          <a routerLink="/lessons">
            <button z-button zSize="sm" zType="link">{{ 'nav.lessons' | transloco }}</button>
          </a>
        </li>
      </ul>
      <div class="flex flex-1 justify-end items-center gap-2">
        <app-language-switcher />
        <button z-button zType="ghost" zSize="sm" (click)="toggleTheme()">
          <ng-icon name="lucideContrast" />
          <span class="sr-only">{{ 'header.toggleTheme' | transloco }}</span>
        </button>
        @if (isAuthenticated()) {
          <a routerLink="/profile">
            <button z-button zType="ghost" zSize="sm">
              <ng-icon name="lucideUserCircle" />
              <span class="sr-only">{{ 'header.userProfile' | transloco }}</span>
            </button>
          </a>
          <button z-button zType="link" zSize="sm" (click)="logout()">{{ 'header.logout' | transloco }}</button>
        } @else {
          <a routerLink="/login">
            <button z-button zType="link" zSize="sm">{{ 'header.login' | transloco }} <span aria-hidden="true">&rarr;</span></button>
          </a>
        }
      </div>
    </div>
    <div class="flex flex-1 justify-end md:hidden">
      <app-burger [isOpenSignal]="isOpen" />
    </div>
  </div>
</header>
