<div class="container-fluid page-container">
  @if (!submitted()) {
    <h1 class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance mb-10">
      {{ 'pages.forgotPassword.title' | transloco }}
    </h1>
    <div class="container">
      <div class="auth-card flex justify-center">
        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6 min-w-1/2">
          @if (error()) {
            <z-form-message zType="error">{{ error() }}</z-form-message>
          }
          <z-form-field>
            <label for="email" z-form-label zRequired>{{
              'pages.forgotPassword.emailLabel' | transloco
            }}</label>
            <z-form-control>
              <input
                id="email"
                type="email"
                autocomplete="email"
                formControlName="email"
                [placeholder]="'pages.forgotPassword.emailPlaceholder' | transloco"
                z-input
              />
            </z-form-control>
            @if (form.controls.email.invalid && form.controls.email.touched) {
              <z-form-message zType="error">{{
                'pages.forgotPassword.emailError' | transloco
              }}</z-form-message>
            }
          </z-form-field>

          <button
            z-button
            zType="default"
            zFull
            type="submit"
            [zLoading]="isLoading()"
            [zDisabled]="form.invalid"
          >
            {{ 'pages.forgotPassword.sendLink' | transloco }}
          </button>
          <p class="py-2 text-center">
            {{ 'pages.forgotPassword.backTo' | transloco }}
            <a class="hover:underline" [routerLink]="['/', ROUTES.AUTH.LOGIN]">{{
              'pages.forgotPassword.signIn' | transloco
            }}</a>
          </p>
        </form>
      </div>
    </div>
  } @else {
    <h1 class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance mb-10">
      {{ 'pages.forgotPassword.inboxTitle' | transloco }}
    </h1>
    <div class="container">
      <div class="auth-card flex justify-center">
        <div class="space-y-6 min-w-1/2 text-center">
          <p class="text-muted-foreground">
            {{ 'pages.forgotPassword.inboxDescription' | transloco }}
          </p>
          <a [routerLink]="['/', ROUTES.AUTH.LOGIN]" z-button zType="default" zFull>{{
            'pages.forgotPassword.backToSignIn' | transloco
          }}</a>
        </div>
      </div>
    </div>
  }
</div>
